extends layout

block content
	main
		.container-fluid
			.row.content
				.col-sm-2.sidenav.text-center
				.col-sm-8
					h2= title
					p
					| A database project.
				.col-sm-2.sidenav.text-center
